@tailwind base;
@tailwind components;
@tailwind utilities;

/* .Title{
  @apply 
  /* text-2xl
  leading-none
  hover:leading-7
  font-bold
  uppercase */
  /* px-8
  py-4 */


.text{
  @apply 
  text-gray-500
  /* py-8; */
}
.navButton{
  @apply
  p-4
  active:text-indigo-600 
  hover:underline 
  underline-offset-8 
  font-light

}